extends ../../view_client_layout

block additionalHead
	link(rel='stylesheet', href='/games/tictactoe/view_client/view.css')
		
block content
	//h1 Playing #{gameConfig.title}

	script(src="/games/tictactoe/view_client/view.js")