extends ../../view_client_layout

block additionalHead
	script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.min.js")
	link(rel='stylesheet', href='/games/tictactoe/view_client/view.css')
		
block content
	//h1 Playing #{gameConfig.title}

	script(src="/games/tictactoe/view_client/view.js")