extends ../../view_client_layout.jade

block content
	script(src="/games/bomberman/common/GameState.js")
	script(src="/games/bomberman/common/PlayerInputState.js")
	script(src="/games/bomberman/view_client/ControllerView.js")
	script(src="/games/bomberman/view_client/view.js")

	//h1 BOMBERMAN CLIENT: SMARTPHONE