doctype html
html
	head
		title Playing #{gameConfig.title}
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/games/view_client_layout.css')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/3.0.9/pixi.min.js")
		script(src="/lib/javascripts/fpsmeter.min.js")
		script(src="/common/common.js")
		script(src="/common/commonFrontend.js")
		block additionalHead
	body
		div(id="coolMetrics")
			div(id="divFPSMeter")
			div(class="ownMetric", id="divPingMeter")
				span(class="spanPingText spanPingTitle") Ping: 
				span(class="spanPingText" id="spanPing") -1
				span(class="spanPingText") ms
			div(class="ownMetric", id="divNetworkTraffic")
				span(class="spanPingText spanPingTitle") ▲ 
				span(class="spanPingText" id="spanNetworkTrafficUp") -1 bps
				br
				span(class="spanPingText spanPingTitle") ▼ 
				span(class="spanPingText" id="spanNetworkTrafficDown") -1 bps
		script.
			window.fpsMeter = new FPSMeter(document.getElementById("divFPSMeter"), { graph: 1 });
			window.pingHandler = new CommonFrontend.PingHandler();
			window.networkTrafficHandler = new CommonFrontend.NetworkTrafficHandler();
			window.gameConfig = JSON.parse('!{gameConfigString}');
			window.gameID = "#{gameID}";
			window.playerID = "#{playerID}";
		block content

